/* ========================================================
           --------- IMPORTED FONT-----------
=========================================================== */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/* ========================================================
            ---------COMMON STYLES-----------
=========================================================== */
*{
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: 0;
}

body{
    font-family: 'Open Sans', sans-serif;

    
}
header{
    padding-top: 50px;
    background: #FFF8F3;
}
/* ========================================================
            ---------NAV STYLES-----------
=========================================================== */
nav{
    width: 100%;
    color: #474747;
   
}
nav a{
    color: #474747;
}
.nav-container{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.nav-item{
    width: 49%;
}
.nav-item > ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.hire-me-btn, .hire-me-btn a{
    background-color: #FD6E0A;
    color:#fff;
    padding: 10px 16px;
    border-radius: 5px;
}
/* ========================================================
       ---------HERO SECTION'S STYLES-----------
=========================================================== */
.hero-area{
    width: 100%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    padding-top: 3rem;
   /*  background-image: url("../images/header_bg.png");
    background-repeat:no-repeat;
    background-position: bottom right; */
   
   
}
.hero-logo{
   text-align: center;
   margin-right: 30px;
   
}
.hero-logo > img{
    width: 45%;
    margin-top: -100px;

}
.hero-item:first-child{
    grid-column-start: 1;
    grid-column-end: 3;
}
.hero-item:nth-child(2){
    grid-column-start: 3;
    grid-column-end: 7;
}
.hero-item:last-child{
    grid-column-start: 7;
    grid-column-end: -1;
    
}
.developer-img{
    background-image: url("../images/header_bg.png");
    background-repeat:no-repeat;
    background-position: bottom right;
    background-size: 100%;
    text-align: right;
    padding-right: 40px;
    
    
}
.developer-img > img{
    width: 75%;
    margin-bottom: -5px;
    
}
/* ========================================================
                ---------MEDIA QUERIES-----------
=========================================================== */


/* ==============FOR LARGE DEVICES (Laptop)================= */

@media screen and (max-width:992px ){
   
    p{
        color:green;
    }

}




/* ============FOR MEDIUM DEVICES (Tablet)================= */

@media screen and (max-width:768px) {
    p{
        color: blue;
    }


}



/* =============FOR SMALL DEVICES (Smart Phone)============== */

@media screen and (max-width:600px) {
    p{
        color: rgb(255, 136, 0);
    }

}
